* {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

body {
    background-color: #404040;
    margin: 0px;
}

#header {
    display:flex;
    flex-flow: column;
    align-items: center;
    color: white;
}


.button {
    display: flex;
    justify-content: center;
}

#new {
    padding: 16px;
    border-radius: 4px;
    background-color: #408040;
    color: White;
    font-weight: 800;
    font-size: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;

}

#grid {
    display: flex;
    justify-content: center;
    max-width: 800px;

    margin: 48px;
    margin-left: auto;
    margin-right: auto;
    
    border: 3px solid white;
    border-radius: 8px;
    height: 800px;
    width: 800px;
}

.row {
    max-width: 400px;
    min-width:8px;

    min-height: 8px;
    max-height: 400px;

    flex: 1;
}

#footer {
    background-color: #606060;
    color: white;
    padding: 8px;
    text-align: center;
    font-size: 12px;
    
}

#footer div {
    display:flex;
    justify-content: center;
}

a {
    font-size:18px;
    margin:16px;
    color: white;
}

/* * {border: 2px solid red;} */
