* {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif}

h1, h3 {
    text-align: center;
    color: white;
}

body {
    background-color: #404040;
}


.button {
    display: flex;
    justify-content: center;
}

#new {
    padding: 16px;
    border-radius: 4px;
    background-color: #408040;
    color: White;
    font-weight: 800;
    font-size: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;

}

#grid {
    display: flex;
    justify-content: center;
    max-width: 800px;

    margin: 48px;
    margin-left: auto;
    margin-right: auto;
    
    border: 3px solid white;
    border-radius: 8px;
    height: 800px;
    width: 800px;

    /* flex: 1; */
    

}

.row {
    max-width: 400px;
    min-width:8px;

    min-height: 8px;
    max-height: 400px;

    flex: 1;


    /* height: 50px;
    width: 50px; */
}


/* * {border: 2px solid red;} */